* {
    box-sizing: border-box;
    font-family: Raleway, serif;
    color: grey;
    margin: 0;
    padding: 0;
}

.custom-btn {
    background-color: #d3d3d3;
    border: none;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 600;
}

.custom-btn:hover {
    background-color: #C0C0C0;
    color: black;
}

.catrow {
    padding-right: 40px;
}